// src/app/form-card/form-card.component.scss

// Usar :host para garantir que as regras não vazem para fora do componente.
:host {
  display: block; // Garante que o componente ocupe espaço como um bloco.
}

.card-container {
  display: flex;
  flex-wrap: wrap; // Permite que os cards quebrem para a próxima linha se não houver espaço
  gap: 24px; // Espaçamento consistente entre os cards
}

.form-card {
  min-width: 300px;
  min-height: 500px; // Usar min-height permite que ele cresça se o conteúdo for maior.
  padding: 15px;
  
  // Bordas arredondadas e uma sombra sutil para o efeito de "cartão".
  border-radius: 12px;
  border: 1px solid #e0e0e0;
  background-color: #ffffff;
  box-shadow: 0 4px 8px rgba(54, 54, 54, 0.205);
  
  // Transição suave para futuros efeitos de hover, etc.
  transition: box-shadow 0.3s ease-in-out;

  &:hover {
    box-shadow: 0 6px 12px rgba(187, 187, 187, 0.459);
  }
}

// Faz o mat-form-field ocupar 100% da largura do card.
.form-card-field {
  width: 100%;
}