.nav-container {
  display: flex;
  align-items: center;
  padding: 8px;
  background-color: whitesmoke;
  border-radius: 30px;
  gap: 12px;
  width: fit-content;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}